.scoreboard {
  display: flex;
  justify-content: space-around;
  padding-bottom: 2.5rem;
}

.scoreboard-element {
  width: 7rem;
  height: 3rem;
  background-color: #bcab99;
  border-radius: 0.25rem;
  text-align: center;
  padding: 0.25rem 0;
  font-size: 0.875rem;
  font-weight: bold;
}

.scoreboard-element-label {
  color: #fff;
}

.scoreboard-element-score {
  color: #7f7366;
}
